# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_ACCESS_KEY=minioadmin
MLFLOW_S3_ENDPOINT=http://minio:9000

#mlflow network
#https://mlflow.org/docs/latest/self-hosting/security/network
MLFLOW_SERVER_ALLOWED_HOSTS="*"
MLFLOW_CORS_ALLOWED_ORIGINS="localhost"
